div(class='header-banner')
  div(class='header-banner__content')
    p Lorem ipsum <span class="header-banner__high">{</span>dolor sit amet<span class="header-banner__high">}</span>, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    
  div(class='header-banner__dsc')
    p Lorem ipsum dolor sit amet, consectetur</br>adipiscing elit, sed do eiusmod tempor incididunt

  include ../components/button.pug
  +button('Do test', 'right')(class='__o')