header(class='header island-inner')
  div(class='header-top')
    div(class='logo')
      include logo.pug
    div(class='middle')
      include nav.pug
  div(class='header-bottom')
    include banner.pug
    include picture.pug