
a(href="/")
  <svg xmlns="http://www.w3.org/2000/svg" width="52" height="20" fill="none">
    <path fill="#000" fill-rule="evenodd" d="M18.737 7.823v9.173c.094.82.874 2.463 3.248 2.463H25.4v-1.848h-3.415c-.486 0-1.456-.268-1.456-1.343V7.823h4.03V5.807h-4.03V2.44h-1.792v3.368h-2.464v2.016h2.464ZM45.137 7.823v9.173c.093.82.873 2.463 3.247 2.463H51.8v-1.848h-3.415c-.485 0-1.456-.268-1.456-1.343V7.823h4.031V5.807h-4.03V2.44h-1.792v3.368h-2.464v2.016h2.464Z" clip-rule="evenodd"/><path fill="#38BFF2" fill-rule="evenodd" d="M0 0h2.283l5.275 9.211L12.936 0h2.337L8.581 11.494H6.298L0 0Zm8.583 19.46v-7.966h-2.28v7.965h2.28Z" clip-rule="evenodd"/><path fill="#F15525" fill-rule="evenodd" d="M26.4 0h2.283l5.274 9.211L39.336 0h2.337L34.98 11.494h-2.283L26.399 0Zm8.582 11.494h-2.28v7.965h2.28v-7.965Z" clip-rule="evenodd"/>
  </svg>