body, html {
  color: #22253b;
  background-color: #fff;
  height: 100%;
  margin: 0;
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.site {
  box-sizing: border-box;
  flex-direction: column;
  height: 100%;
  display: flex;
}

.middle {
  flex: 1;
}

.island {
  justify-content: center;
  display: flex;
}

.island.__header {
  background-color: #f9f8fd;
}

.island-inner {
  box-sizing: border-box;
  align-self: center;
  width: 100%;
  max-width: 1268px;
  padding-left: 24px;
  padding-right: 24px;
}

.media-mobile {
  display: none;
}

.nav-popup {
  display: flex;
}

.nav-popup__right {
  padding-right: 16px;
}

.nav_lk {
  color: #2b2b2b;
  font-size: 14px;
}

.nav_lk:hover, .nav_lk.__active {
  color: #f15525;
}

.nav-checkbox {
  display: none;
}

.nav-trigger {
  box-sizing: border-box;
  z-index: 2;
  cursor: pointer;
  border-top: 2px solid #000;
  width: 30px;
  height: 20px;
  display: none;
  position: relative;
}

.nav-trigger:before, .nav-trigger:after {
  content: "";
  cursor: pointer;
  background-color: #000;
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
}

.nav-trigger:before {
  top: 7px;
}

.nav-trigger:after {
  bottom: 0;
}

@media screen and (device-width >= 840px), screen and (width >= 840px) {
  .nav-popup__inner {
    display: flex;
  }

  .nav-popup__right {
    text-align: right;
    flex: 1;
  }

  .nav__i + .nav__i {
    margin-left: 36px;
  }
}

.header {
  padding-top: 20px;
}

.header-bottom {
  display: flex;
}

.header-pic {
  text-align: right;
  padding-top: 32px;
}

.logo {
  margin-right: 46px;
}

.header-top {
  background-color: #fff;
  border-radius: 24px;
  padding: 12px 16px;
  display: flex;
}

.header-banner {
  max-width: 638px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.header-banner__content {
  margin-bottom: 12px;
  padding-bottom: 32px;
  font-size: 46px;
  line-height: 1.1;
  position: relative;
}

.header-banner__content:after {
  content: "";
  background-color: #dedede;
  width: 65%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.header-banner__dsc {
  padding-bottom: 16px;
  line-height: 1.5;
}

.header-banner__high {
  color: #f15525;
}

.education {
  background-color: #eaf2f5;
  border-radius: 36px;
  max-width: 1268px;
  padding: 24px;
  display: flex;
}

.education__img {
  padding-left: 120px;
  padding-right: 54px;
}

.education__img img {
  display: block;
}

.education__tx {
  padding-top: 20px;
  font-size: 20px;
}

.btn {
  color: #fff;
  cursor: pointer;
  background-color: #38bff2;
  border: 0;
  border-radius: 34px;
  padding: 6px 12px;
  font-size: 12px;
}

.btn:hover {
  background-color: #f15525;
}

.btn:active {
  transform: scale(.98);
}

.btn.__o {
  background-color: #f15525;
  min-width: 320px;
  padding: 16px;
  font-size: 16px;
}

.btn.__o:hover {
  background-color: #38bff2;
}

.btn__arrow {
  margin-left: 8px;
  display: inline-block;
  transform: translateY(2px);
}

.btn__arrow-left {
  margin-right: 4px;
}

.title {
  text-align: center;
  font-size: 46px;
  font-weight: normal;
}

.tags {
  width: 100%;
}

.tag {
  text-align: center;
  color: #fff;
  text-wrap: wrap;
  cursor: default;
  background-color: #38bff2;
  border: 0;
  border-radius: 34px;
  min-width: 60px;
  margin-top: 8px;
  padding: 12px 20px;
  font-size: 16px;
  display: inline-block;
}

.tag + .tag {
  margin-left: 8px;
}

@media screen and (device-width <= 840px), screen and (width <= 840px) {
  .header-bottom {
    display: block;
  }

  .header-banner {
    text-align: center;
    max-width: none;
    padding-top: 24px;
  }

  .header-banner__content {
    font-size: 24px;
    line-height: 1.2;
  }

  .header-banner__dsc {
    font-size: 12px;
  }

  .header-pic {
    text-align: center;
  }

  .header-banner__content:after {
    width: 100%;
  }

  .education__tx {
    display: none;
  }

  .education {
    border-radius: 30px;
    padding: 16px;
  }

  .education__img {
    display: none;
  }

  .education__tx {
    font-size: 14px;
  }

  .title {
    font-size: 24px;
  }

  .nav {
    float: right;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    padding: 0;
  }

  .nav-trigger {
    display: block;
  }

  .nav-popup {
    z-index: 1;
    background-color: #fff;
    border-radius: 35px;
    padding: 50px 24px;
    display: none;
    position: absolute;
    inset: 8px;
  }

  .nav-checkbox:checked ~ .nav-popup {
    flex-direction: column;
    display: flex;
  }

  .nav__i {
    margin-bottom: 20px;
  }

  .nav_lk {
    font-size: 20px;
  }

  .nav-reg {
    flex: 1;
    align-items: end;
  }
}
/*# sourceMappingURL=index.92b81c51.css.map */
