doctype html
html(lang="en")
    head
      title YTYT - Lorem ipsum dolor sit amet
      link(rel="stylesheet", href="./scss/style.scss")
        
    body
      div(class='site')
        section(class='island __header')
          include template/header/index.pug

        section(class='island')
          include template/education/index.pug
