/* --------------- Vars -------------------- */

@import "vars";

/* --------------- /vars -------------------- */

.header-top {
  display: flex;
  padding: 12px 16px;

  border-radius: 24px;
  background-color: #fff;
}
