/* --------------- Vars -------------------- */

@import "vars";

/* --------------- /vars -------------------- */

.header {
  padding-top: 20px;
}

.header-bottom {
  display: flex;
}

.header-pic {
  padding-top: 32px;
  text-align: right;
}
