/* --------------- Vars -------------------- */

@import "vars";

/* --------------- /vars -------------------- */

.nav {
}

.nav-popup {
  display: flex;
}

.nav-popup__right {
  padding-right: 16px;
}

.nav_lk {
  font-size: 14px;
  color: #2b2b2b;

  &:hover,
  &.__active {
    color: $nav-active;
  }
}

.nav-checkbox {
  display: none;
}

.nav-trigger {
  position: relative;
  display: none;
  box-sizing: border-box;
  z-index: 2;

  width: 30px;
  height: 20px;

  border-top: 2px solid #000;
  cursor: pointer;

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;

    height: 2px;
    cursor: pointer;
    background-color: #000;
  }

  &:before {
    top: 7px;
  }

  &:after {
    bottom: 0;
  }
}

@media screen and (min-device-width: $desktop),
  screen and (min-width: $desktop) {
  .nav-popup__inner {
    display: flex;
  }

  .nav-popup__right {
    flex: 1;
    text-align: right;
  }

  .nav__i + .nav__i {
    margin-left: 36px;
  }
}
