/* --------------- Vars -------------------- */

@import "vars";

/* --------------- /vars -------------------- */

/* --------------- Common -------------------- */

body,
html {
  margin: 0;

  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: #22253b;
  background-color: $bg-color;
}

body,
html {
  height: 100%;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.site {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  height: 100%;
}

.middle {
  flex: 1;
}

.island {
  display: flex;
  justify-content: center;

  &.__header {
    background-color: #f9f8fd;
  }
}

.island-inner {
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;

  align-self: center;
  width: 100%;
  max-width: $max-width;
}

.media-mobile {
  display: none;
}

/* --------------- /common -------------------- */

/* --------------- Imports -------------------- */

// @import "header";
@import "nav";
@import "header";
@import "logo";
@import "header-top";
@import "header-banner";

@import "education";

@import "btn";
@import "title";
@import "tags";

/* --------------- /imports -------------------- */

/* --------------- Imports media -------------------- */

@import "mobile";

/* --------------- /imports media -------------------- */
