$main-color: #f15525;
$bg-color: #fff;

// Navigation

$nav-active: #f15525;

// Buttons

$btn-bg: #38bff2;
$btn-hover: $main-color;

$grid: 20px;
$shift: 4px;
$site-shift: 110px;

$max-width: 1268px;
$mobile: 640px;

// wide

$max-width: 1268px;

$mobile: 840px;
$desktop: 840px;

$media-rules: "";
